!!! 5
%html
  %head
    %title quiz
    %meta(charset="utf-8")
    %link{ rel: 'stylesheet', href: '/css/main.css' }
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    %script(src="/audio-player/audio-player.js")
    %script(src="/js/main.js")
  %body
    .container
      = yield
    = session[:flash]