.panel-image
  %img{ src: @track.cover.url(:small) }
.info{ 'data-id' => @track.id }
  .title-form
    %input.input-title{type: 'text'}
    %button.guess guess
  .tags
    - @track.tags.each do |tag|
      .tag= tag.name
  .audio  
    #audioplayer{ preload: 'none' }    
    %script AudioPlayer.embed("audioplayer", {soundFile: "#{@track.track.url}"});