%ul.thumbnails  
  - @cards.each do |card|
    .card{ 'data-id' => card.id }
      .thumbnail.btn.guessed{class: %w|btn-primary btn-info btn-success btn-warning btn-danger|.shuffle[0]}
        .card-content ?
  - 50.times do |card|
    .card{ 'data-id' => card }
      .thumbnail.btn{class: %w|btn-primary btn-info btn-success btn-warning btn-danger|.shuffle[0]}
        .card-content ?
